body {
    caret-color: transparent; 
  }
  
.container{
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: row;
    border: none;

}

.top{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cross_button{
    background-color: transparent;
    border: none;
    align-self: flex-end;
    font-size: 1.2rem;
    color: #4A5568;
    width: fit-content;
    padding: 0;

}
.cross_button:hover {
    color: #718096;
}